= simple_form_for [:admin, @article] do |f|
  = f.input :entry_at
  = f.input :title
  = f.input :content
  = f.input :published

  = f.simple_fields_for :article_images do |img|
    .thumbnail
      - if img.object.image?
        .tag-sample= "挿入タグ：<img src='" + img.object.image.url + "' >"
        .uploaded-image= image_tag img.object.image.url
    = img.file_field :image

  = f.button :submit
