.row
  .col-md-9
    - @articles.each do |article|
      .article
        .article-entry-at
          = fa_icon('calendar-o')
          %time= I18n.l(article.entry_at)
        %h2= article.title
        .content= simple_format article.content.truncate(100, omission: '...')
        .detail= link_to '続きを読む', article_path(article)

  .col-md-3
    =render 'sidebar'

