.row
  .col-md-9
    .article
      .article-entry-at
        = fa_icon('calendar-o')
        %time= I18n.l(@article.entry_at)
      %h2= @article.title
      .content= simple_format @article.content

  .col-md-3
    =render 'sidebar'

= link_to '戻る', articles_path
